<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>


 var myModule = angular.module('myModule',[]);
 var myCtrl = myModule.controller('myCtrl',function($scope,$http){
	 
	 $scope.mytoggle = true;
	 $scope.firsthit = false;
	 $scope.getList = function(){
		 if($scope.validate())
			 {
			 	$http.get("../getmultiples/"+$scope.firstparam+"/"+$scope.secondparam)
			    .then(function(response) {
			    	 $scope.firsthit = true;
			        $scope.dataArray = [];
			        var p = response.data;
			        for (var key in p) {
			        	  if (p.hasOwnProperty(key)) {
			        		  var obj = {multiple: parseInt(key), value:p[key] };
			        		  $scope.dataArray.push(obj);
			        	  }
			        	}
			    });
			 }
		 
	 };
	 
	 
	 $scope.validate = function(){
		 if($scope.firstparam===undefined||$scope.secondparam===undefined)
			 alert("Input value range is between 1 and 200");
		 if($scope.firstparam >200 || $scope.firstparam<1 || $scope.secondparam >200 || $scope.secondparam<1 )
			 alert("Input value range is between 1 and 200");
		 else if($scope.firstparam > $scope.secondparam)
			 alert("Input 1 should be less than Input 2");
		 else
			 return true;
		 return false;
	 }
	 
 });
</script> 
</head>
<body ng-app="myModule" ng-controller="myCtrl" class="jumbotron">

<div class="container">
  <h1 class="text-info">Mountain State Challange</h1>
  
    <div class="form-group">
      <label for="first Number">Input 1:</label>
      <input type="number" min="1" max="200" required="required" class="form-control" ng-model="firstparam" placeholder="Input 1" name="firstparam">
    </div>
   <div class="form-group">
      <label for="Second Number">Input 2:</label>
      <input type="number"  min="1" max="200" required="required" class="form-control" ng-model="secondparam" placeholder="Input 2" name="secondparam">
    </div>
    <button ng-click="getList()" class="btn btn-default">Submit</button>
    <button ng-click="mytoggle=!mytoggle" class="btn btn-default" ng-show="firsthit">Toggle Order</button>
  <table class="table table-striped" ng-show="firsthit">
    <thead>
	    <tr>
	     <th>Multiples</th>
	     <th>Value</th>
	    </tr>       
    </thead>
    <tbody>
    	<tr ng-repeat="obj in dataArray | orderBy: !mytoggle?'-multiple':'multiple' ">
		  <td> {{obj.multiple}} </td> 
		  <td> {{obj.value }} </td>
		</tr>
    </tbody>
  </table>
  
</div>


</body>
</html>